<div style="text-align: left;">
  <h2>Concept Bundles</h2>
  
  <table>
    <% @page.concept_bundles_in_text_order.each_with_index do |cb, i| %>
      <tr>
        <td valign="top"><%= i + 1 %></td>
        <td valign="top">
          <%= link_to "#{cb.title}",
            {:controller => :concept_bundle, :action => :index, :id => cb.id},
            {:id => "concept_bundle_link_#{i + 1}"} %>
        </td>
        <td valign="top">
          <input type="button" value="Goto" onclick="scroll_to_concept_bundle(<%= i + 1 %>);" />
        </td>
      </tr>
    <% end %>
  </table>
</div>

