<div id="student_message_cb_empty" style="display: none;">
  We're sorry. There are no questions or videos for this concept.
  <%= link_to 'Become a contributor', new_user_registration_path %>
  and help us add content!
</div>