<%= link_to "Student View", {:action => "student_view", :id => @page.id} %>

<%= render 'prerequisites', :contributor => true %>

<table width="100%">
  <tr>
    <td width="70%">
      <div style="height: 1000px; overflow: auto;">
        <%= render 'code_for_displaying_modified_wikipedia_html', :contributor => true %>
      </div>
    </td>
    <td width="30%" valign="top">
      <div style="padding: 10px;">
        <%= render 'concept_bundle_controls' %>
      </div>
    </td>
  </tr>
</table>
