<% if user_signed_in? %>
  <h2>Add a Page</h2>

  <div style="text-align:left;">
    <%= form_for :newpage do |f| %>
      URL of Wikipedia Page:
      <%= f.text_field :url %>
      <%= submit_tag " Add Wikipedia Page To Learnopedia " %>
      
    <% end %>
  </div>
<% end %>

<% if @pages.any? %>
  <h2>All Current Pages</h2>

  <div style="text-align:left;">
    <table width="70%">
      <%= render user_signed_in? ? 'all_pages_for_contributor' : 'all_pages_for_viewer' %>
    </table>
   </div>
<% end %>