<%= link_to "Contributor View", {:action => "contributor_view", :id => @page.id} if user_signed_in? %>

<div style="text-align:left;">
  <%= render 'prerequisites', :contributor => false %>
  <%= render 'shared/wikipedia_css_stuff' %>
  <div class="wikipedia_text">
    <%= raw(@page.wikihtml_links_rewritten_concept_bundles_added_their_text_highlighted) %>
  </div>
</div>