<%= link_to "Contributor View", {:action => "contributor_view", :id => @page.id} if user_signed_in? %>

<div style="text-align:left;">
  <%= render 'prerequisites', :contributor => false %>
  <div class="wikipedia_text">
    <h2><%= @page.title %> </h2>
    <%= raw(@page.wikihtml_links_rewritten_concept_bundles_added_their_text_highlighted) %>
  </div>
</div>
<script type="text/javascript">
  var all_active_cb_spans = jQuery(".learnopedia_bundle_element_active").toArray();

  $(window).bind('load', function(){
    setup_concept_bundle_hovers_student();
  });
</script>