// Place all the styles related to the ConceptBundle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#concept_bundle_text {
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(220,220,220);
}

div#concept_bundle_text > span.learnopedia_bundle_element_active {
}

div#search_results {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

textarea#question_question_text {
    width: 650px;
    height: 100px;
}

div.question_text_difficulty_edit {
    margin: 5px;
    border: 1px solid grey;
    padding: 5px;
}

div.question_num_difficulty_edit {
    margin: 10px;
}

span.question_unlisted {
    margin: 5px;
    font-size: 10px;
}

.difficulty_level_a {
    color: rgb(0,170,0);
}

.difficulty_level_b {
    color: rgb(0,90,0);
}

.difficulty_level_c {
    color: rgb(204,153,34);
}

.difficulty_level_d {
    color: rgb(221,55,0);
}

.difficulty_level_e {
    color: rgb(136,17,17);
}

.difficulty_level_f {
    color: rgb(136,0,255);
}