#main {
    padding: 15px;
    width: 800px;
    background-color: white;
    margin: 10px;
}

body {
    background-color: rgb(225,225,255);
}

#prerequisites {
    text-align: left;
}

span.learnopedia_bundle_element_active {
    background-color: rgb(125,225,255);
}

span.learnopedia_bundle_element_inactive {
}

span.learnopedia_bundle_element_selected {
    background-color: rgb(225, 225, 255);
}

table#contributor_table {
    border: 1px solid black;
    padding: 5px;
}