// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.learnopedia_bundle_element_active {
    cursor: pointer;
}

div#contributor_view_wiki_text span.learnopedia_bundle_element_active {

}

div#add_bundle_window {
    text-align: left;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 400px;
    padding: 20px;
    left: 50%;
    margin-left: -200px;
    margin-top: 15px;
}

div.problem_and_video_window_active {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

span.timecreated {
    font-size: 0.5em;
    margin-left: 1em;
}

div#contributor_view_wiki_text {
    border: 1px solid black;
    padding: 5px;
}

div#no_content_message {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    background-color: rgb(255,225,225);
}

dd span.learnopedia_bundle_element_active {
    display: block;
}

span.learnopedia_bundle_element_active_1 {
    background-color: rgb(255,235,205);
}

span.learnopedia_bundle_element_active_2 {
    background-color: rgb(154,255,154);
}

span.learnopedia_bundle_element_active_3 {
    background-color: rgb(224,255,255);
}

span.learnopedia_bundle_element_active_4 {
    background-color: rgb(245,222,179);
}

span.learnopedia_bundle_element_active_5 {
    background-color: rgb(255,225,255);
}

span.learnopedia_bundle_element_active_6 {
    background-color: rgb(20,225,255);
}

span.learnopedia_bundle_element_active_7 {
    background-color: rgb(176,226,255);
}

span.learnopedia_bundle_element_active_8 {
    background-color: rgb(152,245,255);
}

span.learnopedia_bundle_element_active_9 {
    background-color: rgb(209,238,238);
}

span.learnopedia_bundle_element_active_10 {
    background-color: rgb(127,255,212);
}

span.learnopedia_bundle_element_active_11 {
    background-color: rgb(255,250,205);
}

span.learnopedia_bundle_element_active_12 {
    background-color: rgb(202,255,112);
}

span.learnopedia_bundle_element_active_13 {
    background-color: rgb(255,246,143);
}

span.learnopedia_bundle_element_active_14 {
    background-color: rgb(255,231,186);
}

span.learnopedia_bundle_element_active_15 {
    background-color: rgb(238,203,173);
}

span.learnopedia_bundle_element_active_16 {
    background-color: rgb(255,228,225);
}

span.learnopedia_bundle_element_active_17 {
    background-color: rgb(193,193,193);
}

span.learnopedia_bundle_element_active_18 {

}

span.learnopedia_bundle_element_active_19 {

}

span.learnopedia_bundle_element_active_20 {

}

span.learnopedia_bundle_element_active_21 {

}

span.learnopedia_bundle_element_active_22 {

}

span.learnopedia_bundle_element_active_23 {

}

span.learnopedia_bundle_element_active_24 {

}

span.learnopedia_bundle_element_active_25 {

}

span.learnopedia_bundle_element_active_26 {

}

span.learnopedia_bundle_element_active_27 {

}

span.learnopedia_bundle_element_active_28 {

}

span.learnopedia_bundle_element_active_29 {

}

span.learnopedia_bundle_element_active_30 {

}

span.learnopedia_bundle_element_inactive {

}

span.learnopedia_bundle_element_selected {
    background-color: rgb(225, 225, 255);
}
