// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#about_us {
    text-align: left;
}

div#logo {
    padding: 40px;
}

div#all_pages {
    text-align: left;
    margin-top: 15px;
}

div#powered_by {
    padding: 5px;
}
