<!DOCTYPE html>
<html>
<head>
  <title>Learnopedia</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <center>
    <h2>Learnopedia</h2>
    <div id="main">
      <%= yield %>
    </div>
    Powered by the Wharton School at the University of Pennsylvania
  </center>
</body>
</html>
